Figure out where we need to reference RFC 3987 for IRI-related things

A lot of IRI processes can be the same as for URIs.  For example, with IRI-reference resolution, RFC 3987 §6.5 just says to do exactly what RFC 3986 does, so I think we can just keep citing 3986 directly for that.  But there are probably other areas that we need to update, so this is a note to remember to audit such references before the next release.

I went though this fairly closely when it was merged. I didn't do it out diligence, it was just a really nasty merge that forced me to scrutinize every line that changed. Anyway I'm 95% sure all the references make sense, but I don't promise I didn't miss anything.

@jdesrosiers I think I may have checked out the wrong branch or something when looking at this and thought there was a lot less referencing 3987 than there is.  I'll put this on hold and self-assign until I can follow up, no need for anyone else to spend time on it.

@jdesrosiers I think the only place I would update would be the reference for the normalization process, as RFC 3987 §5 has numerous subsections with a good bit of IRI-specific process.  However, PR #1291 (which you and Greg already approved) removes that paragraph entirely, so I'll just close this.