date-time case sensitivity for T and Z

[RFC 3339 section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6) says:

> NOTE: Per [ABNF] and ISO8601, the "T" and "Z" characters in this
> syntax may alternatively be lower case "t" or "z" respectively.

> This date/time format may be used in some environments or contexts
> that distinguish between the upper- and lower-case letters 'A'-'Z'
> and 'a'-'z' (e.g. XML).  Specifications that use this format in
> such environments MAY further limit the date/time syntax so that
> the letters 'T' and 'Z' used in the date/time syntax must always
> be upper case.  Applications that generate this format SHOULD use
> upper case letters.

Should a validator enforce case or not?  I tested a couple of validators and they seem to be pretty evenly split between enforcing it or not.

case sensitive:
- bugventure/jsen
- Julian/jsonschema (I think)
- thephpleague/json-guard

case insensitive:
- epoberezkin/ajv
- mafintosh/is-my-json-valid

If the spec says it's case insensitive then I would suppose the validator should honor that. There's nothing special that has to be included in the spec.

Further, if in doubt, JSON Schema tends to lean in the direction of more liberal: If an author needs the more conservative (i.e. restrictive) variant, then that can be declared with a second constraint (for example, a regular expression).

@yuloh I would re-file this at https://github.com/json-schema-org/JSON-Schema-Test-Suite

It's been nearly a month, so I filed the test issue myself so we can clear this issue out of the spec repo.