strange formatting in Relative JSON Pointers section 4. Evaluation

referencing the source https://github.com/json-schema-org/json-schema-spec/blob/draft-handrews-json-schema-02/relative-json-pointer.xml#L121-L140

and the web site:
https://json-schema.org/draft/2019-09/relative-json-pointer.html#rfc.section.4

the following text (starting with an `<xref>` tag) appears at entirely the wrong place in the output on the site:

> RFC 6901, Section 4 ("Evaluation"), with the modification that the initial reference being used is the reference currently being held (which may not be root of the document).

it should follow "then evaluation proceeds as per" but instead appears before the `<list>` preceding it.

weird.

I'm not seeing this issue.
Could you try incognito mode or some such and proviede a screenshot maybe?

I don't think it's just on my end. if you look at the html source on the web site, it reads

```html
If this value is more than zero, then the following steps are repeated that number
of times: <a href="#RFC6901" class="xref">RFC 6901, Section 4</a> ("Evaluation"),
with the modification that the initial reference being used is the reference currently
being held (which may not be root of the document).  </p>
```

that `<a>` tag, corresponding to an `<xref>` in the xml spec, shouldn't be where it is, before the list of steps. it should be within this `<p>` tag down below the list, which instead just cuts off mid-sentence.

```html
<p> If the remainder of the Relative JSON Pointer is a JSON Pointer, then evaluation
proceeds as per </p>
```


Right. Yeah sorry I see it now.

Fixed. Will push today.