IPv4 Format not correctly supporting CIDR notations

Per the documentation here (https://json-schema.org/understanding-json-schema/reference/type), the `"ipv4": IPv4 address, according to dotted-quad ABNF syntax as defined in [RFC 2673, section 3.2](http://tools.ietf.org/html/rfc2673#section-3.2)`

Reading the RFC spec: "The \<bit-spec> is either a dotted quad or a base indicator and a
   sequence of digits appropriate to that base, optionally followed by a slash and a length." indicates a CIDR range?

currently the python library is failing validation on CIDRs when using the ipv4 format constraint.

This is something to raise in the library's repository.  This repository is for the JSON Schema implementation itself and has no association with any implementation.

The `ipv4` format uses the "dotted-quad" ABNF production, which doesn't include CIDRs.

> dotted-quad      =  decbyte "." decbyte "." decbyte "." decbyte
> decbyte          =  1*3DIGIT

thanks for the explanation.
It makes sense that JSON schema’s ipv4 format strictly follows the dotted-quad ABNF and does not include CIDR notation, even if referenced elsewhere in RFC 2673. I’ll implement CIDR support using a custom validator.