✨ Proposal: redefine hostname and idn-hostname formats

### Describe the inspiration for your proposal

Not long ago I read many times the RFCs related to [idn-hostname](https://github.com/SorinGFS/idn-hostname) parser I made, `5890/5891`, which then took me through `5892/5893` to finally reach `UTS#46`. I realized at that time that in fact `5890/5891` were just a framework that prepared what was to come. Then, I started reading RFCs `3986/3987` for the [identifier-js](https://github.com/SorinGFS/identifier-js) uri/iri validator to see exactly the same thing: they were not the rigid texts that I had in mind but were also frameworks that distribute and delegate responsibilities to various other specifications. While building the validator I always compared it to whatwg-url, which incorporates both uri/iri in a single specification, and I was struck by the fact that they treat urls differently depending on the scheme. I looked to see where they got the specifications from and found that they go back exactly to `3986/3987` RFCs. I have often made the mistake of jumping directly to the relevant normative texts when reading RFCs, but here I realized that something was missing, and I sought to understand more precisely what the authors of the texts were thinking. In a field of "URI/IRI" complexity, they couldn't put all the possible variations into a single text. So, they established this general framework for any valid URI/IRI, and delegated each scheme specific documentation to the related RFC's from the [very beginning](https://datatracker.ietf.org/doc/html/rfc3986#:~:text=A-,Uniform%20Resource%20Identifier%20%28URI%29).

> Abstract
> A Uniform Resource Identifier (URI) is a compact sequence of
> characters that identifies an abstract or physical resource. This
> specification defines the generic URI syntax and a process for
> resolving URI references that might be in relative form, along with
> guidelines and security considerations for the use of URIs on the
> Internet. The URI syntax defines a grammar that is a superset of all
> valid URIs, allowing an implementation to parse the common components
> of a URI reference without knowing the scheme-specific requirements
> of every possible identifier. This specification does not define a
> generative grammar for URIs; that task is performed by the individual
> specifications of each URI scheme.

So, what are those specific schemes:

- `http`, `https` [RFC7230](https://datatracker.ietf.org/doc/html/rfc7230)
- `ws`, `wss` [RFC6455](https://datatracker.ietf.org/doc/html/rfc6455)
- `file` [RFC8089](https://datatracker.ietf.org/doc/html/rfc8089)
- `mailto` [RFC6068](https://datatracker.ietf.org/doc/html/rfc6068)
- `data` [RFC2397](https://datatracker.ietf.org/doc/html/rfc2397)
  There are few more notorious schemes, like the obsoleted `ftp`, or whatwg specific `blob`.

I made a research about each of those schemes specificity (not 100% sure about accuracy yet):

| Scheme | Userinfo | Host (reg_name) | Port      | Path     | Query    | Fragment |
| ------ | -------- | --------------- | --------- | -------- | -------- | -------- |
| http   | optional | required        | optional  | required | optional | optional |
| https  | optional | required        | optional  | required | optional | optional |
| ws     | useless  | required        | optional  | required | optional | useless  |
| wss    | useless  | required        | optional  | required | optional | useless  |
| file   | optional | optional        | forbidden | required | optional | optional |
| ftp    | optional | required        | optional  | required | useless  | useless  |
| mailto | useless  | useless         | useless   | required | optional | useless  |
| data   | useless  | useless         | useless   | required | useless  | useless  |
| blob   | useless  | useless         | useless   | required | useless  | useless  |

When we read the related specs we find that the network resource specific schemes define their uris like: `http-URI`, `https-URI`, `ws-URI`, `wss-URI`, `file-URI`, all being subsets of the generic `URI`, and all pointing their base back to `RFC3986`. As for the other uri parts, for example this is how are they [defined](https://datatracker.ietf.org/doc/html/rfc7230#:~:text=component%2E-,URI,3%2E5%3E) in `http`:

>     URI-reference = <URI-reference, see [RFC3986], Section 4.1>
>     absolute-URI  = <absolute-URI, see [RFC3986], Section 4.3>
>     relative-part = <relative-part, see [RFC3986], Section 4.2>
>     scheme        = <scheme, see [RFC3986], Section 3.1>
>     authority     = <authority, see [RFC3986], Section 3.2>
>     uri-host      = <host, see [RFC3986], Section 3.2.2>
>     port          = <port, see [RFC3986], Section 3.2.3>
>     path-abempty  = <path-abempty, see [RFC3986], Section 3.3>
>     segment       = <segment, see [RFC3986], Section 3.3>
>     query         = <query, see [RFC3986], Section 3.4>
>     fragment      = <fragment, see [RFC3986], Section 3.5>

I think I'm not wrong if I say that in IT when we say `hostname` we think of `url.hostname`. Maybe we were thinking that the URI RFC is too rigid (considering only that abnf) to cover this option. But perhaps judging things in the light of the above we can see that this is not the case. The `RFC3986` has that generic syntax for `reg_name` as a fallback for non-specific cases, because it defines it:

> A URI resolution implementation might use DNS,
> host tables, yellow pages, NetInfo, WINS, or any other system for
> lookup of registered names.

but, for the specific case when resources are located on the network [sais](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2:~:text=DNS%29%2E-,A,of%20%5BRFC1123%5D%2E):

> A registered name intended for lookup in the DNS uses the syntax
> defined in Section 3.5 of [RFC1034] and Section 2.1 of [RFC1123].

and:

> If the URI scheme defines a default for host, then that default
> applies when the host subcomponent is undefined or when the
> registered name is empty (zero length). For example, the "file" URI
> scheme is defined so that no authority, an empty host, and
> "localhost" all mean the end-user's machine, whereas the "http"
> scheme considers a missing authority or empty host invalid.

Note that the `reg_name` definition is here differentiated based on `scheme`.

and:

> The reg-name syntax allows percent-encoded octets in order to
> represent non-ASCII registered names in a uniform way that is
> independent of the underlying name resolution technology. Non-ASCII
> characters must first be encoded according to UTF-8 [STD63], and then
> each octet of the corresponding UTF-8 sequence must be percent-
> encoded to be represented as URI characters. URI producing
> applications must not use percent-encoding in host unless it is used
> to represent a UTF-8 character sequence. When a non-ASCII registered
> name represents an internationalized domain name intended for
> resolution via the DNS, the name must be transformed to the IDNA
> encoding [RFC3490] prior to name lookup. URI producers should
> provide these registered names in the IDNA encoding, rather than a
> percent-encoding, if they wish to maximize interoperability with
> legacy URI resolvers.

Here the `RFC3490` infact must be read as `RFC5980/5981` that obsoletes it. I read this as a back delegation that allows the storage of an `IRI` as `URI`, facilitating back and forth conversion between.

In conclusion, what I understand is this:

`yellow.pages//john%20doe/phone` is an allowed use of `%` in `reg_name`, but if the scheme is `http` it can only be a transitory state to transform that input into its `unicode` version delegated to `RFC5890/5891` (and its delegations to `RFC5892`, `RFC5893`, and `UTS#46`) in order to give back the `URI` version of it (as we know the `DNS` is `ASCII-only` and will not change in our lifetime). Also, for network involving schemes, the other `DNS` rules are also mandatory (hyphen-rules, non empty labels, so on...).

### Describe the proposal

- replace the `hostname` format requirement rule to `RFC 3986` `reg_name` abnf when scheme implies a network resource (`http`,`https`,`ws`,`wss`,`file`, or any other similar)
- replace the `idn-hostname` format requirement rule to `RFC 3987` `ireg_name` abnf when scheme implies a network resource (`http`,`https`,`ws`,`wss`,`file`, or any other similar)

Implicitly, clarify the specs for `uri`, `iri`, `uri-reference` and `iri-reference` formats about scheme specific rules.


### Describe alternatives you've considered

_No response_

### Additional context

_No response_

> We talked about scheme-specific requirements in a recent discussion about [URI normalization](https://github.com/json-schema-org/json-schema-spec/issues/1623). In that case we decided that scheme-based (and protocol-based) normalization rules should be optional. There are currently over 400 [registered URI schemes](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml). I don't think it's reasonable to expect implementations to support the specific rules for each scheme, not to mention having to keep up when new schemes are registered.

Nice conversation you had there, but I disagree with the conclusion. Sure, there are over 400 registered uri schemes and counting, but a user should only care about the correctness of that one that he uses. As `RFC3986 - Abstract` states:

> This specification does not define a generative grammar for URIs; that task is performed by the individual specifications of each URI scheme.

So, if the scheme is [IANA registered](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml#:~:text=http,4%2E2%2E2%5D) an implementer should follow:
-  `http` points to [RFC9110, Section 4.2.1](https://datatracker.ietf.org/doc/html/rfc9110#section-4.2.1)
- `https` points to [RFC9110, Section 4.2.2](https://datatracker.ietf.org/doc/html/rfc9110#section-4.2.2)
- ...

Then, the referenced protocols are pointing back to `RFC3986` for the generic rules they use from there.

Here we talk about `hostname` and `idn-hostname` so here we should only care about the schemes that are used to retrieve resources over the network. 

I analyzed `whatwg-url` spec which has this [goal](https://url.spec.whatwg.org/#:~:text=Align,RFC3987):

> Align RFC 3986 and RFC 3987 with contemporary implementations and obsolete the RFCs in the process. (E.g., spaces, other "illegal" code points, query encoding, equality, canonicalization, are all concepts not entirely shared, or defined.) URL parsing needs to become as solid as HTML parsing. [[RFC3986]](https://url.spec.whatwg.org/#biblio-rfc3986) [[RFC3987]](https://url.spec.whatwg.org/#biblio-rfc3987)

First, they start from `RFC3986/3987` in their journey, and then inplementing scheme specific rules. I looked for things that are not conform with `RFC3986/3987` + scheme specific rules in their implementation, and so far **I got none!** Here is how they deal with `reg_name` if the scheme is generic or `http`:

```js
console.log(new URL('yellow.pages://john%20doe').href); // yellow.pages://john%20doe
console.log(new URL('http://john%20doe').href); // throws invalid URL input: 'http://john%20doe'
```

> I think there are a couple of options here and either way, I think we need a spec update to clarify.
>     1. Any scheme-based validation is optional
>     2. Schema-based validation is not allowed
>     3. Require an implementation to throw an error if it encounters a scheme it doesn't implement
>     4. Define a set of schemes that implementations must support scheme-based rules

Here, 1) I think would lead to maximum ambiguity, 2) would ignore what I presented above, 3) would be wrong because it would reject the generic URI's, so I think the only viable option would be 4) and the list is not that long because we talk about retrieving resources over the network:
- `http`
- `https`
- `file`
- `ws`
- `wss`

Now, if we talk about `uri`, `iri`, `uri-reference`, `iri-reference` format definitions in general, I think they shouldn't be limited to those 5 defined above, but the spec should state that if the format has a `scheme` that is a [IANA registered](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml) scheme, then should obey the rules indicated by the corresponding `IANA` scheme. This would eliminate any ambiguity about what those formats means, and if one wants to define an identifier that does not colide with any defined scheme, then should use the generic `uri://` and `iri://` schemes that shall never be defined by `IANA`.

> > * replace the `hostname` format requirement rule to `RFC 3986` `reg_name` abnf when scheme implies a network resource (`http`,`https`,`ws`,`wss`,`file`, or any other similar)
> > * replace the `idn-hostname` format requirement rule to RFC 3987 `ireg_name` abnf when scheme implies a network resource (`http`,`https`,`ws`,`wss`,`file`, or any other similar)
> 
> I don't think that makes sense. There is no scheme in context for `hostname`/`idn-hostname`. The scheme is part of the URI.

I left this part at the end intentionally. Sure, there is no scheme in context for `hostname`/`idn-hostname`, but there is an implicit requirement for `reg_name` if the resource is located on the network, as presented above. I chose that expression because that is the part that has variable meaning when the schema involves a network resource. Each protocol has its own naming convention for that part (e.g: `http-host`), but the `URI` spec is the one that defines the general name: `reg_name`. 

So, if you are choosing to revise the `uri`, `iri`, `uri-reference`, `iri-reference` format definitions to keep account the shema specificity, I think you can also make that connection for `hostname` (and `idn-hostname`) to represent `uri/iri reg_name` for the cases when schema implies the retrieval of the resource from the network: `http, https, ws, wss and file`. I don't know you, but for me when I hear `hostname` I think of `uri.hostname`.

