Section Initial Base URI contradicts referenced RFC3986

This is more a comment for me to make sure I make a PR agains the validation document.
Section title "Initial Base URI" states that...

> RFC3986 Section 5.1 defines how to determine the
> default base URI of a document.

But also that...

> Informatively, the initial base URI of a schema is the URI at which it was
> found, whether that was a network location, a local filesystem, or any other
> situation identifiable by a URI of any known scheme.

The point of referencing the RFC is so we don't have to include all the content, however in this case it reads to me as a contradiction.

The order of precedence in RFC3986 says first look for a base URI embedded in the contnet, which for JSON Schema is $id. Prefixing "informativly" to the scentence does not prohibit that it seems to be stating the "base URI of a schema is the location where the schema is found", which the third order of precedence according to RFC3986.

It should be clear in saying that the base URI in relation to "URI used to retrieve the entity" as per RFC3986 order of precedence in determining base URI, **may** be a network location, a local file system, or something else.

It could also be useful to note that a base URI must also conform to an absolute-uri, syntax as defined in said RFC, which inclues a URI schema, which for a local filesystem is the file URI schema, defined by RFC8089.

@Relequestual see PR #686 and https://github.com/Julian/jsonschema/issues/343#issuecomment-441527562 for why this language was added.

I don't really follow how why this is a contradiction.  Your first assumption of the base URI is the retrieval URI.  The way that precedence diagram works is that you start from the outermost layer (application specific) which is modified or overridden as you go towards the innermost layer.  

To use a JSON Schema example, if the `$id` in the root schema is `/foo` (which is not what is recommended but is technically allowed) then you need to know what the retrieval URI was in order to calculate the modified base.

The wording as given is correct.  I avoided the words "may" or "should" even in lower-case intentionally, because we are talking about things that happen, not recommendations or requirements.

But... just above the precedence diagram (that I was looking at anyway)...

> The order of precedence can be thought of in terms of layers, where the **innermost** defined base URI has the **highest precedence**.

You've said outer to inner, but RFC3986 says it's inner to outer.

@Relequestual yes, the innermost layer that is relevant produces the base URI.  But to get there you start from the outermost layer and work your way in.  You don't have to actually do that as steps, but conceptually that's how it works.  How else would you interpret `$id: "/foo"` in the root schema?

After discussing this with @handrews on slack, I now understand. I'll consider if there's a way to make this clearer of if I was just having a dumb day.