Email syntax should be based on RFC 5321 (not RFC 5322)

Email Addresses should be based on the protocol specification RFC 5321, not the message format defined by RFC 5322.

Instead of "email:  As defined by RFC 5322, section 3.4.1" I suggest "Mailbox: As defined by RFC 5321, section 4.1.2."

The later "idn-email:  As defined by RFC 6531" makes clear that I think this is what was intended in the first place since RFC 6531 extends the SMTP protocol as defined by RFC 5321, not the message format defined by RFC 5322.

The note that ``all strings valid against the "email" attribute are also valid against the "idn-email" attribute'' only makes sense if the email attribute where based on 5321 in the first place.

The Mailbox element as defined by 5321 is what most people understand as an "email address" not the syntax defined for the message format which may include comments and white space.

Good spot! Thanks!