IRI support (i.e. Unicode in URIs)

Most modern Web/hypermedia formats support IRIs instead of just URIs that are 7bit ASCII. IRIs are a superset of URIs that support full Unicode. For standards that only support URIs, IRIs have to be converted/escaped into a URI-compatible format.


+1 for IRI support.  It's 2016, let's be inclusive :-)

@awwright what would need to be done for this?  Is it sufficient to just go through and change URI to IRI? (and IRI reference, etc. etc.).  I have not paid much attention to what sort of things come up with IRIs rather than URIs.

Note that while there is no separate IRI Template specification, per RFC 6570:

>   Although the URI syntax is used for the result, the template string
   is allowed to contain the broader set of characters that can be found
   in Internationalized Resource Identifier (IRI) references [RFC3987].
   Therefore, a URI Template is also an IRI template, and the result of
   template processing can be transformed to an IRI by following the
   process defined in Section 3.2 of [RFC3987].

@awwright @Relequestual @philsturgeon @gregsdennis any thoughts on this?

Is it just as simple as saying `$id` and `$ref` take IRI-references instead of URI-references?  Is that desirable?  It doesn't ever seem to come up, but IRIs will only get more important, I suspect.

Looks like [IRIs are already supported in .Net](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/international-resource-identifier-support-in-system-uri) which means I'm already supporting it :tada:

I have no problems with this.

Seems like the right move to me.
Some extra considerations from RFD: https://www.w3.org/TR/rdf11-concepts/#h3_section-IRIs

Should we note similar considerations or is it unnecessary? 

I already use IRIs in `$ref` and `$id` as this is necessary for Czech schemas. The ids and refs would look terrible otherwise:
`https://ofn.gov.cz/turistické-cíle/2020-07-01/schémata/turistický-cíl.json`
vs.
`https://ofn.gov.cz/turistick%C3%A9-c%C3%ADle/2020-07-01/sch%C3%A9mata/turistick%C3%BD-c%C3%ADl.json`

I use https://www.jsonschemavalidator.net/ for validation, and it worked OK with JSON instance files.
Only recently I accidentally validated the JSON schema itself and discovered, it is actually invalid because it uses IRIs in `$id`  and `$ref`.
Since there do not seem any objections to this, can this be implemented?

Updating the meta-schema is not all the work that needs to be done.
The specification documents would need to be updated to use IRI for $id and potentially other places.
The meta-schema is informative only, while the specification documents are normative.

@Relequestual I see. Is this something I can help with, perhaps in another PR?

Yes! You may use the same PR or another PR, your choice.
Often we don't update the meta-schema till later in the release cycle, but it's great to update it alongside changes.

My comment on your PR relating to not merging the PR... we haven't yet published the 2020-12 meta-schema. That is mostly my fault. Working on it =]

Seems like a simple and important improvement! 🥳 

@philsturgeon Well, it is simply done in the meta-schema. In the spec we need to take care not to break anything, especially regarding canonical URIs, URIs used in HTTP Link Headers, URI templates, etc.

But it needs to be done.

This may be closed now since it is implemented in #1137 .

:tada: :tada: :tada: 