"iri" and "iri-reference" formats

See also #59 about IRI support throughout the spec.

It would seem to me like we would want these for symmetry with "uri" and "uri-reference".

AFAIK there is no IRI Template spec so no "iri-template" format.

Putting this in the next milestone because it's easy and I've generally rounded up all of the format issues to address this time around.

IRIs and URI Templates, from RFC 6570:

>   Although the URI syntax is used for the result, the template string
   is allowed to contain the broader set of characters that can be found
   in Internationalized Resource Identifier (IRI) references [RFC3987].
   Therefore, a URI Template is also an IRI template, and the result of
   template processing can be transformed to an IRI by following the
   process defined in Section 3.2 of [RFC3987].

Merged #408.